Sonic Heroes AP Client/obj/*
Sonic Heroes AP Client/bin/*
.idea/

# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
Sonic Heroes AP Client/obj/project.assets.json
Sonic Heroes AP Client/obj/project.nuget.cache
Sonic Heroes AP Client/obj/project.packagespec.json
Sonic Heroes AP Client/obj/rider.project.model.nuget.info
Sonic Heroes AP Client/obj/rider.project.restore.info
Sonic Heroes AP Client/obj/Sonic Heroes AP Client.csproj.nuget.dgspec.json
Sonic Heroes AP Client/obj/Sonic Heroes AP Client.csproj.nuget.g.props
Sonic Heroes AP Client/obj/Sonic Heroes AP Client.csproj.nuget.g.targets
Sonic Heroes AP Client/obj/Debug/Sonic Heroes AP Client.AssemblyInfoInputs.cache
Sonic Heroes AP Client/obj/Debug/Sonic Heroes AP Client.assets.cache
Sonic Heroes AP Client/obj/Debug/Sonic Heroes AP Client.csproj.AssemblyReference.cache
Sonic Heroes AP Client/obj/Debug/Sonic Heroes AP Client.csproj.CoreCompileInputs.cache
Sonic Heroes AP Client/obj/Debug/Sonic Heroes AP Client.csproj.FileListAbsolute.txt
Sonic Heroes AP Client/obj/Debug/Sonic Heroes AP Client.GeneratedMSBuildEditorConfig.editorconfig
Sonic Heroes AP Client/obj/Debug/Sonic Heroes AP Client.sourcelink.json
Sonic Heroes AP Client/obj/Debug/Sonic Heroes AP Client.AssemblyInfo.cs
Sonic Heroes AP Client/obj/project.assets.json
Sonic Heroes AP Client/obj/project.nuget.cache
